@import "bootstrap-sass/assets/stylesheets/_bootstrap";
@import "gentelella/src/scss/custom";

body {
  word-wrap: break-word;
}

dd {
  margin-bottom: 2rem;
  p {
    margin-bottom: 0;
  }
}

label.required::after {
  color: red;
  content: " *"
}

.btn-show {
  @extend .btn;
  @extend .btn-default;
}

.table {
  .btn-show {
    @extend .btn-block;
    @extend .btn-sm;
  }
}

.btn-new, .btn-edit {
  @extend .btn;
  @extend .btn-primary;
}

.btn-destroy {
  @extend .btn;
  @extend .btn-danger;
}

.btn-search {
  @extend .btn-block;
  @extend .btn-sm;
}

.flash-notice {
  @extend .alert;
  @extend .alert-success;
}

.flash-alert {
  @extend .alert;
  @extend .alert-danger;
}

.side-menu {
  h3 {
    margin-bottom: 0.5em;
  }
}

.title_right {
  text-align: right;
}
